*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Bounties/nbproject/
/Bounties/nbproject/private/
/Bounties/build/
/Bounties/dist/

# LaTeX temporary files
*.aux
*.log
*.toc
 
# SyncTeX
*.synctex.gz
 
# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
 
# BibTeX
*.bbl
*.blg

.classpath
.project

/bounty/nbproject/private/
/bounty/build/
/bounty/dist/
/bin/
